<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.nickpierson.StatsCalculator"
    android:installLocation="auto"
    android:versionCode="7"
    android:versionName="1.4.2" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="me.nickpierson.StatsCalculatorFree.home.FreeHomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/HomeTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="me.nickpierson.StatsCalculatorFree.basic.FreeBasicActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:parentActivityName="me.nickpierson.StatsCalculatorFree.home.FreeHomeActivity"
            android:theme="@style/NotHomeTheme"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.nickpierson.StatsCalculatorFree.home.FreeHomeActivity" />
        </activity>
        <activity
            android:name="me.nickpierson.StatsCalculatorFree.pc.FreePCActivity"
            android:label="@string/app_name"
            android:parentActivityName="me.nickpierson.StatsCalculatorFree.home.FreeHomeActivity"
            android:theme="@style/NotHomeTheme"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.nickpierson.StatsCalculatorFree.home.FreeHomeActivity" />
        </activity>
        <activity
            android:name="me.nickpierson.StatsCalculatorFree.reference.FreeBasicReferenceActivity"
            android:label="@string/app_name"
            android:parentActivityName="me.nickpierson.StatsCalculatorFree.basic.FreeBasicActivity"
            android:theme="@style/NotHomeTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.nickpierson.StatsCalculatorFree.basic.FreeBasicActivity" />
        </activity>
    </application>

</manifest>